<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/f9ae0af590.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Library</title>
</head>
<body>
  <section id="home-image">
  <header>
    <div class="header-container">
      <h1>Library</h1>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="/books">Home</a></li>
        <li><a href="/books/new">Add Book</a></li>
      </ul>
    </nav>
  </header>
  
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  
    {%block home%}
    {% endblock %}
  </section>
  
</body>
</html>
